form(action='/admin/add-book' method='POST')
  label(for='Nimi') Nimi: 
  input#Nimi(type='text' name='Nimi')
  br
  br
  label(for='Tekija') Tekija: 
  input#Tekija(type='text' name='Tekija')
  br
  br
  label(for='Vuosi') Vuosi: 
  input#Vuosi(type='text' name='Vuosi')
  br
  br
  label(for='Sivumaara') Sivumaara: 
  input#Sivumaara(type='text' name='Sivumaara')
  br
  br
  input(type='submit' value='Submit')
p